@import '../../styles/themes';
@import '@nebular/theme/styles/global/breakpoints';
@import 'bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  display: flex;
  z-index: 100;
  justify-content: space-between;
  align-items: center;

  .socials {
    font-size: 2rem;

    a {
      padding: 0.4rem;
      color: nb-theme(text-hint-color);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(text-basic-color);
      }
    }
  }

  @include media-breakpoint-down(is) {
    .socials {
      font-size: 1.5rem;
    }
  }
}


 

 //Mobile devices
 @media (max-width: 26.2500rem) {
  ::ng-deep {
      .created-by{
        font-size:0.7rem
      }
    }
}


//Mobile devices
@media (max-width: 21.7500rem) {
  ::ng-deep {
      .created-by{
        font-size:0.5rem
      }
    }
}
