@import '../../styles/themes';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
}

::ng-deep nb-layout-footer {

  &.fixed {
    // position: fixed;
    // overflow-y:hidden;  //overflow-y:scroll;
    // overflow-x:auto;    //overflow-x:hidden;
    bottom: 0;
    left: 0;
    right: 0;
    // z-index: 1040;

    background: none;
    border: none;
    width: 100%;
    background: #f6f6f6;
    visibility: hidden;
    position: absolute;
   
    transition: 3s 4s;
  }

  &.fixed:hover {
    visibility: visible;
    transition-delay: 2s;
  }
  }

  ::ng-deep nb-sidebar {

    .main-container {
      background-color: nb-theme(background-basic-color-1);
      bottom: 0;
      }
    }
