@import '../../../../@theme/styles/themes';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

@import '~@nebular/theme/styles/globals';


@include nb-install-component() {

    
    .userImg {
        border-radius: 50%;
    }

    .listenQuiety{
        position: relative;
        top: 0;
        right: 0;
        width: 0.6250rem;
        height: 0.6250rem;

    }

    .actionButton{
        position: relative; 
        height:0.9375rem; 
        width:4.2500rem;
    }


    //Mobile devices
    @media (max-width: 23.8200rem) {
         nb-card-body{
            padding: 0.65rem;
        }

         .userImg{
                height:35px;
                width:35px;
            }
         .cardFont{
            font-size:80%;
         }

         .actionButton{
            font-size: 40%;
            height:0.7375rem; 
            width:3.7rem;
        }
    }

    @media (min-width: 23.8200rem) and (max-width: 27.5000rem) {
    ::ng-deep {

        nb-card-body{
            padding: 0.65rem;
        }

         .userImg{
                height:40px;
                width:40px;
            }
         .cardFont{
            font-size:80%;
         }

         .actionButton{
                font-size: 40%;
                height:0.7375rem; 
                width:3.7rem;
         }

        }
    }

    //Mobile devices
    @media (min-width: 27.5625rem) and (max-width: 34.3750rem){
    ::ng-deep {

        nb-card-body{
            padding: 0.65rem;
        }

        .userImg{
                height:50px;
                width:50px;
            }
        .cardFont{
            font-size:80%;
        }
    }
    }

    //Mobile devices
    @media (min-width: 34.38rem) and (max-width: 62.5rem){
    ::ng-deep {

        nb-card-body{
            padding: 0.8rem;
        }

        .userImg{
                height:50px;
                width:50px;
            }
        .cardFont{
            font-size:80%;
        }
    }
    }
}