
// //Mobile devices
// @media (max-width: 27.5000rem) {
//   ::ng-deep {
//       .componentLevelZoomFD{
//         zoom:60%;
//       }

//       nb-card.calendar-with-time{
//         zoom:60%;
//       }
// }
// }

// //Mobile devices
// @media (min-width: 27.5625rem) and (max-width: 34.3750rem){
//     ::ng-deep {
//         .componentLevelZoomFD{
//             zoom:60%;
//         }

//         nb-card.calendar-with-time{
//         zoom:60%;
//       }
//     }
// }
