@import '../../../@theme/styles/themes';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';


@include nb-install-component() {

  
  
  ngx-d3-bar,
  ngx-d3-pie,
  ngx-charts-advanced-pie-chart{
    display: block;
    width: 100%;
    height: nb-theme(card-height-small-1);

    ::ng-deep {
      .pie-label {
        fill: nb-theme(text-basic-color);
      }

      text {
        fill: nb-theme(text-hint-color);
      }

      .chart-legend {
        .legend-labels {
          background: nb-theme(background-basic-color-2);
        }
        .legend-label {
          color: nb-theme(text-hint-color);
          .active .legend-label-text {
            color: nb-theme(text-basic-color);
          }
        }
      }

      .total-value,
      .item-value,
      .item-percent {
        line-height: 1.25;
      }

      .legend-items {
        overflow-y: hidden;
      }
    }}
  ngx-d3-area-stack,
  ngx-d3-line,
  ngx-d3-polar {
    display: block;
    width: 100%;
    height: nb-theme(card-height-medium);

    ::ng-deep {
      .pie-label {
        fill: nb-theme(text-basic-color);
      }

      text {
        fill: nb-theme(text-hint-color);
      }

      .chart-legend {
        .legend-labels {
          background: nb-theme(background-basic-color-2);
        }
        .legend-label {
          color: nb-theme(text-hint-color);
          .active .legend-label-text {
            color: nb-theme(text-basic-color);
          }
        }
      }

      .total-value,
      .item-value,
      .item-percent {
        line-height: 1.25;
      }

      .legend-items {
        overflow-y: hidden;
      }
    }
  }

  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  /*
  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
*/
}


.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625rem;
}

#step2 {
  height: 15.6250rem;
  width: 34.3750rem;
  color: #fff;
}


.step2LeftContainer {
  position: absolute;
  top: 45%;
  left: 80%;
  transform: translate(-50%, -50%);
  padding: 0.6250rem;
}


::ng-deep {
  nb-layout-column {
    height: 80vw;
  }

  button + button {
    margin-left: 1rem;
  }

  .dialog-card {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  @media (min-width: 40rem) {
    .dialog-card {
      width: 30rem;
    }
  }
}