<nb-card class="dialog-card componentLevelZoom" accent="info">
    <nb-card-header>Upload Progress : {{ fileStorageService.fileUploadStatus.loaded }}MB / {{ fileStorageService.fileUploadStatus.total }}MB</nb-card-header>
    <nb-card-body>
        <div class="container">
            <!-- <nb-actions size="medium">
              <nb-action icon="minus-outline" (click)="setValue(value - 25)"></nb-action>
            </nb-actions> -->
            <nb-progress-bar [value]="fileStorageService.fileUploadStatus.percent" [status]="status" [displayValue]="true"></nb-progress-bar>
            <!-- <nb-actions size="medium">
              <nb-action icon="plus-outline" (click)="setValue(value + 25)"></nb-action>
            </nb-actions> -->
          </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton outline status="danger" (click)="dismiss('')">Close</button>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button nbButton outline status="danger" (click)="cancel()">Cancel</button>
    </nb-card-footer>
</nb-card>