
// //Mobile devices
// @media (max-width: 27.5000rem) {
//   ::ng-deep {
//       .componentLevelZoomNSec{
//         zoom:80%;
//       }
// }
// }

// //Mobile devices
// @media (min-width: 27.5625rem) and (max-width: 34.3750rem){
//     ::ng-deep {
//         .componentLevelZoomNSec{
//             zoom:80%;
//         }
//     }
// }
