<div class="row">
  <div class="col-lg-12">
    <nb-card class="transformNbCardSummaryGraphHeightAdjustment">
      <nb-card-header>
        <div class="row">
          <div class="col-lg-12">
            Summary
          </div>
        </div>
      </nb-card-header>

      <nb-card-body class="transformNbCardSummaryGraphBodyAdjustment">
        <div class="row transformDownTo70">
          <ngx-charts-advanced-pie-chart
            [scheme]="colorScheme"
            [results]="single"
            [view]="view"
            [gradient]="gradient">
          </ngx-charts-advanced-pie-chart>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- Section 2 -->
<div class="row componentLevelZoom">

  <div class="col-sm-5">
    <nb-card>
      <nb-card-header>Property Inventory Global Search</nb-card-header>
      <nb-card-body>
        <nb-form-field style="width: 100%;">
          <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
          <input #searchName
                 id="searchName"
                 (input)="onSearchTextChange()"
                 type="text"
                 nbInput
                 fullWidth
                 shape="rectangle"
                 placeholder=""
                 [(ngModel)]="searchString">
        </nb-form-field>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-sm-3">
    <nb-card>
      <nb-card-header># of pages</nb-card-header>
      <nb-card-body>
        <div style="display:flex;align-items:center;justify-content:center;">
          <h4>{{ totalPages }}</h4>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-sm-4">
    <nb-card>
      <nb-card-header>Page Number</nb-card-header>
      <nb-card-body>
        <nb-form-field style="width: 100%;">
          <nb-icon nbPrefix icon="hash-outline" pack="eva"></nb-icon>
          <input #autoPageNumber
            id="autoPageNumber"
            nbInput
            fullWidth
            type="text"
            placeholder="Page Number"
            [(ngModel)]="currentPageNumber"
            (ngModelChange)="onPageNumberChange()"
            (keydown)="verifyAlphaNumericConstraint($event)" />

        </nb-form-field>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- Download section (simple) -->
<div class="row componentLevelZoom">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Download Inventory Excel</nb-card-header>
      <nb-card-body>
        <div class="row" style="align-items:center;">
          <div class="col-sm-4">
           <label style="font-weight:600;">From Listed Date</label>
            <input nbInput
                  fullWidth
                  fieldSize="small"
                  placeholder="Select date"
                  [nbDatepicker]="fromListedDatePicker"
                  [(ngModel)]="fromListedDateLocal">

            <nb-datepicker #fromListedDatePicker></nb-datepicker>
          </div>

          <div class="col-sm-4" style="margin-top: 22px;">
            <button nbButton status="primary" (click)="downloadInventoryExcel()">
              Download Excel
            </button>
          </div>

          <div class="col-sm-4" style="margin-top: 22px;">
            <span *ngIf="downloadError" style="color:#d9534f;">{{ downloadError }}</span>
          </div>

          <div style="display: inline-flex; align-items: center; margin-left: 14px;">
            <nb-radio-group
              [(ngModel)]="inventoryAvailable"
              (ngModelChange)="onAvailableChange($event)"
              style="display: inline-flex; align-items: center;"
            >
              <nb-radio [value]="true" status="success" style="margin-right: 10px;">
                Available
              </nb-radio>

              <nb-radio [value]="false" status="danger">
                Not Available
              </nb-radio>
            </nb-radio-group>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- Section 3 -->
<div class="row componentLevelTable">
  <div class="col-lg-12">
    <nb-card class="classname">
      <nb-card-header>
        <div class="row">
          <div class="col-sm-12">
            <h1>{{ tableHeading }}</h1>
          </div>
        </div>
      </nb-card-header>

      <nb-card-body>
        <div class="row">
          <ng2-smart-table
            [settings]="settings"
            [source]="source"
            (userRowSelect)="onUserRowSelect($event)"
            id="inventoryTable">
          </ng2-smart-table>
        </div>
        <div class="row"><br></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- Section 4 -->
<div class="row componentLevelZoom" *ngIf="showDetail">
  <div class="col-lg-12">
    <nb-card style="max-height: 30rem;">
      <nb-card-header><span>&nbsp;&nbsp;&nbsp;<b>Row Details</b></span></nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-4" *ngFor="let key of keys; let l = index;">
            <nb-card status="success" style="height: 8rem;">
              <nb-card-header>{{ key }}</nb-card-header>
              <nb-card-body>{{ values[l] }}</nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
