@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';
@import '../../../styles/themes';

@include nb-install-component() {


  
nb-card {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}

nb-card-body {
  border: 0;
  margin-bottom: 0;
  padding: 0;
  margin-left: 0;
  margin-top: 1.5rem;
}


hr {
height: 0.0625rem;
border: none;
background-color: #CCCCCC;
clear: both;
}

button {
margin: 0.0000rem;
line-height: 100%;
padding: 0.0000rem;
padding-left: 0.4375rem;
padding-right: 0.4375rem;
border-radius: 0.3125rem;
min-width: 1.8750rem;
min-height: 1.8750rem;
font-family: Roboto, Arial, Helvetica;
font-size: 0.8750rem;
margin-left: 0.0625rem;
margin-right: 0.0625rem;
outline: none;
cursor: pointer;
}
button:focus {
outline: none;
}
button:disabled {
cursor: default;
}
button:disabled:hover {
cursor: default;
}



/* Check Boxes */
input[type=checkbox] {
display: none;
}

input[type=checkbox] + label {
padding: 0.0000rem;
line-height: 1.3750rem;
vertical-align: middle;
display: inline-block;
cursor: pointer;
margin-right: 0.3125rem;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

input[type=checkbox] + label:before {
font-family: FontAwesome;
content: "\f096";
width: 1.2500rem;
display: inline-block;
font-size: 1.1250rem;
vertical-align: middle;
line-height: 1.3750rem;
}

input[type=checkbox]:checked + label:before {
font-family: FontAwesome;
content: "\f046";
width: 1.2500rem;
display: inline-block;
font-size: 1.1250rem;
vertical-align: middle;
line-height: 1.3750rem;
}

/* Radio Boxes */
input[type=radio] {
display: none;
}

input[type=radio] + label {
padding-top: 0.3125rem;
padding-bottom: 0.3125rem;
vertical-align: middle;
display: inline-block;
cursor: pointer;
margin-right: 0.3125rem;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

input[type=radio] + label:before {
content: "\f10c";
font-family: FontAwesome;
margin-right: 0.1875rem;
font-size: 1.0000rem;
vertical-align: middle;
}

input[type=radio]:checked + label:before {
font-family: FontAwesome;
content: "\f192";
margin-right: 0.1875rem;
font-size: 1.0000rem;
vertical-align: middle;
}


.dialTextInput{
font-size: 1.2500rem;
text-align: center;
border-radius: 0.35rem;
border-color: black;
margin-top: 1rem;
margin-bottom: 1rem;
margin-left: 2.6rem;
}

.dialButtons{
font-size: 1.1250rem; 
border: none;
border-radius: 6.2500rem;
width:3.4375rem;
height:3.4375rem;
}
.dialButtons:disabled:hover{
border: none;
}

.dialButtons:active {
background: #e5e5e5;
-webkit-box-shadow: inset 0.0000rem 0.0000rem 0.3125rem #c1c1c1;
   -moz-box-shadow: inset 0.0000rem 0.0000rem 0.3125rem #c1c1c1;
        box-shadow: inset 0.0000rem 0.0000rem 0.3125rem #c1c1c1;
 outline: none;
}

.dialButtons div{
font-size: 1.5000rem;
line-height: 0.5625rem;
margin: 0.0000rem;
margin-top: 0.4375rem;
padding: 0.0000rem;
}
.dialButtons span{
font-size: 0.5625rem;
line-height: 0.5625rem;
margin: 0.0000rem;
padding: 0.0000rem;
}
.dialButtonsDial{
font-size: 1.5625rem;
}

.top-heading
{
font-size: 0.9375rem;
font-weight: 600;
font-stretch: ultra-condensed;

//background-color: linear-gradient(to left, #000000, #541593);
color: nb-theme(color);
//background-clip: text;
//-webkit-background-clip: text;
margin: 0rem;
list-style: none;

}

.box-icons
{
margin-top: 0.8rem;
margin-bottom: 1.2rem;
// border-style: double;
// border-color: nb-theme(color);
// border-radius: 0.1rem;
//padding:1rem;
//border: black;
}

.box-button
{
margin-top: 0.5rem;
margin-bottom:1.2rem;
}


.box-input
{
  margin-top: 0.8rem;
  margin-bottom: 1.2rem;
  border-style: double;
  border-color: nb-theme(color);
  border-radius: 0.1rem;
  padding:1rem;
}



}

::ng-deep {

  .dialog-card {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  
  @media (min-width: 40rem) {
    .dialog-card {
      width: 30rem;
    }
  }
 
  //Mobile devices
@media (max-width: 27.5000rem) {
  ::ng-deep {
    
  div.custom-phone-popover{
    // width: 2rem;  /* 100 / 0.7 ≈ 142.8571% */
    height: 26rem;
  }

  nb-card.componentLevelZoomForBrowserPhone {
  transform: scale(0.65);
  transform-origin: top left;
  width: 153.8462%;    /* 100 / 0.65 ≈ 153.8462% */
  height: 153.8462%;
  display: inline-block;
  }
  
}
}

//Mobile devices
@media (min-width: 27.5625rem) and (max-width: 34.3750rem){
  ::ng-deep {
    
  div.custom-phone-popover {
    // width: 2rem;  /* 100 / 0.7 ≈ 142.8571% */
    height: 26rem;
  }
  nb-card.componentLevelZoomForBrowserPhone {
  transform: scale(0.65);
  transform-origin: top left;
  width: 153.8462%;    /* 100 / 0.65 ≈ 153.8462% */
  height: 153.8462%;
  display: inline-block;
  }
}
}

}
